body {
	padding: 0;
	margin: 0;
	background-color: pink;
}

.menu_box {
	padding: 0;
	margin: 0;
	display: inline-block;
	height: 10vh;
	width: 100vw;
	
	background-color: green;
	
}

a {
	display: inline-block;
	width: 20vw;
	height: 10vh;
	transition: background-color 4s;
   -webkit-transition: background-color 4s; /* Safari 3.1 to 6.0 */
}

a:hover {
	
	background-color: red;
	
	
}
/* *************************************************************************** */
.pinkForm {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	height: 25vh;
	width: 10vw;
	position: absolute;
	left: 45vw;
	top: 37.5vh;
	background-color: #f1e3f2;
}

.pinkForm > label {
	margin-left: 1vw;
	margin-bottom: 1vh;
	margin-top: 1vh;
	display: inline-block;
	height: 2vh;
	width: 5vw;
	background-color: grey;
}

.pinkForm > input {
	margin-left: 1vw;
}

.login_button {
	background-color: white;
	display: inline-block;
	height: 3vh;
	width:3vw;
	text-align: center;
	margin-top: 1vh;
	margin-left: 1vw;
}



